.button {
  border-radius: 8px;
  border: 0;

  font-size: 16px;
  line-height: 22px;
  width: 100%;
  background: transparent;
}

.primary {
  padding: 16px 16px;
  background: #007AFF;
  color: white;
}

.primary:hover {
  background: #006fe6;
  cursor: pointer;
}

.muted {
  color: rgba(60, 60, 67, 0.6);
  font-size: 12px;
  line-height: 16px;
  padding: 6px 10px;
  width: auto;
}

.muted:hover {
  color: rgba(60, 60, 67, 0.8);
  cursor: pointer;
}
