.item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 14px 16px 14px 36px;
  width: 100%;
  background: var(--color-surface);
  border-radius: 8px;
  position: relative;
}

.row {
  display: flex;
  align-items: center;
  gap: 12px;
}

.label {
  font-size: 18px;
  font-weight: 500;
  min-width: 44px;
  text-align: right;
}


.amount {
  text-align: right;
  flex: 1;
  border: 0;
  font-size: 30px;
  width: 100%;
  color: inherit;
  background: transparent;
}

.amount:focus {
  outline: none;
}

.amount::-webkit-outer-spin-button,
.amount::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.icon {
  position: absolute;
  left: 12px;
  top: 14px;
  font-size: 24px;
  opacity: 0.7;
}
